#header-left {
    width: 200px;
    float: left;
}
#header-left a{
    color: blue;
    text-decoration: none;
}
#header-middle {
    overflow: hidden;
}
#header-right {
    width: 250px;
    float: right;
}

body {
    background: none repeat scroll 0 0 #333;
    font-family: Optima, Segoe, "Segoe UI", Candara, Arial, sans-serif;
    font-size: 14px;
}

#page {
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 2px;
    border-right: 1px solid #dfdfdf;
    display: block;
    margin: 0 auto;
    padding: 30px;
    width: 901px;
}


.case-container td {
    padding: 2em;
}
.case-container .label {
    font-size: 1.3em;
}

