/* <link href="jquery-ui/jquery-ui.css" rel="stylesheet"> */
@import url("jquery-ui/jquery-ui.css");

div.horizontal {
    display: inline-block;
}

body {
    background: none repeat scroll 0 0 #333;
    font-family: Optima, Segoe, "Segoe UI", Candara, Arial, sans-serif;
    font-size: 14px;
}

body div.top{
    display: block;
    margin: 0px auto;
    width: 901px;
    border-radius: 2px;
    border-right: 1px solid #dfdfdf;
}

#header {
    background-color: #e0e0e0;
    border-top: 0;
    border-bottom: 1px solid #b0b0b0;
    padding: 0px 30px;
}
#page {
    width: 901px;
    min-height: 700px;
    background-color: #fff;
    border-top: 0;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 30px;
}

#footer{
    height: 30px;
    background-color: #eee;
    border-top: 0;
    border-bottom: 1px solid #dfdfdf;
    padding: 0px 30px;
}

div.top a{
    text-decoration: none;
}
#header-left {
    width: 130px;
    height: 30px;
}
#header-left a{
    color: gray;
}
#header-middle {
    width: 570px;
    height: 30px;
}
#header-middle div.horizontal{
    padding: 0 10px;
}
#header-middle a{
    font-size: 120%;
    font-weight: bold;
    color: #555;
}
#header-middle a:hover{
    color: blue;
}
#header-right {
    width: 180px;
    height: 30px;
}

#footer-left {
    width: 240px;
}
#footer-middle {
    border: 0;
    width: 400px;
}
#footer-right {
    width: 245px;
    padding: 4px;
}

div.navigation {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}
div.navigation a{
    color: blue;
}

h1 {
    margin: 0;
    padding: 5px 0;
}

hr {
    margin: 0;
}


.case-container {
    cursor: pointer;
    margin: 0 auto;
    width: 900px;
    border: 1px solid transparent;
}
.case-container td {
    padding: 2em;
}
.case-container .label {
    font-size: 1.3em;
}
.case-container a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.case-container.active {
    background-color: #eee;
    border: 1px solid lightgrey;
}
.case-container.active a{
    color: blue;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}